# SPDX-FileCopyrightText: 2026 Copyright © 2026 Idiap Research Institute <contact@idiap.ch>
# SPDX-FileContributor: Danilo Gusicuma <danilo@lunarbase.ai>
#
# SPDX-License-Identifier: GPL-3.0-only
.DS_Store
.env
.git
.next
.pytest_cache
.venv
__pycache__/
*.db
*.pyc

lunar-chat-interface/.next
lunar-chat-interface/node_modules
lunar-chat-interface/.env

outputs/