# SPDX-FileCopyrightText: 2026 Copyright © 2026 Idiap Research Institute <contact@idiap.ch>
# SPDX-FileContributor: Danilo Gusicuma <danilo@lunarbase.ai>
#
# SPDX-License-Identifier: GPL-3.0-only
ADDRESS=http://localhost:3000
#SERVER_ADDRESS=http://app_icebrook:8000
OPENAI_DEPLOYMENT=gpt-4o-mini

OPENAI_EMBEDDINGS_DEPLOYMENT=text-embedding-3-small
OPENAI_API_KEY=your openai key here
OPENAI_ENDPOINT=https://api.openai.com/v1
OPENAI_API_VERSION=2024-12-01-preview
NEXTAUTH_SECRET=your nextauth secret here
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_WORKSPACE=argumentation-agent
